.aboutBanner{
    /*border : 2px solid green;*/
    height : 170px;
    margin-bottom : 50px;
    position : relative;    
    margin : 0 6.5%;
    
}

.aboutBanner img{
    /*border : 2px solid blue;*/
    height : 100%;
    width : 100%;
    object-fit: cover;
    border-radius : 40px;
    filter : brightness(70%);

}

