.aboutBanner{    
    height : 170px;
    margin-bottom : 50px;
    position : relative;    
    margin : 0 6.5%;    
}

.aboutBanner img{
    height : 100%;
    width : 100%;
    object-fit: cover;
    border-radius : 40px;
    filter : brightness(70%);
}

@media all and (max-width: 600px) {
    .aboutBanner{        
        height : 300px;  
        height : auto;        
        margin : 0 4%;       
    }
    .aboutBanner img{             
        border-radius : 10px; 
    }
}

