.wrapper{
    display:flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;    
    padding : 0 6.5%;
}
.accordeon{
    width : 80%;      
}

@media all and (max-width: 600px){
    .wrapper{          
        padding : 0 4%;
    }    
    .accordeon{
        width : 100%;         
    }
}