#header {
    display : flex;
    justify-content: space-between;
    align-items: center;
    margin : 20px 6.5% 35px;
}

#logoKasaRouge {    
    width : 14%;
    min-width: 120px;
}

.nav-active{
    text-decoration: underline;
}

.nav-link{
    color : #ff6060;
    width : 50%;
    margin-left :10%;
    cursor : "pointer";
    font-size :130%;
    font-family : "arial";
}

.navbar{    
    width : 50%;
    text-align: right;
}

#navUl{
    list-style-type : none;    
    display : flex;
    justify-content: right;
    margin : 0;
    padding:0; 
    width : 100%;   
}


@media all and (max-width: 600px) {
    #header {
        margin : 20px 35px;
    }
    .navbar{
        width : 60%;
        display:flex;
    }
    
    #logoKasaRouge {    
    width : 25%;
    min-width:auto;   
    }

    .nav-link{    
    width : 50%;    
    cursor : "pointer";
    font-size :100%;
    font-family : "arial";
    }
}



