.divCardsContent{
   display : flex;
   flex-wrap: wrap;
    margin: 30px 6.5%;
    background-color: rgb(246,246,246);
    border-radius : 30px;
    padding : 2%;
}

@media all and (max-width: 600px){
    .divCardsContent{        
    margin: 30px 4%;
    background-color:white;    
    padding : 0;
    }
}



