.homeBanner{
    /*border : 2px solid green;*/
    height : 150px;
    margin-bottom : 50px;
    position : relative;    
    margin : 0 6.5%;
    
}

.homeBanner img{
    /*border : 2px solid blue;*/
    height : 100%;
    width : 100%;
    object-fit: cover;
    border-radius : 40px;
    filter : brightness(70%);

}



.homeBanner p{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*border : 2px solid pink;*/
    font-family : arial;
    color : white;
    font-size : 2rem;
    margin:0;
    
}