.cardsContent{
    width : 300px;
    max-height : 250px;
    
    margin: 20px auto;
    background: linear-gradient(rgb(255, 100, 100), rgb(150, 121, 121));
    border-radius : 10px;
}

.cards {
   width :auto;
   height : 70%;
}
.cardsImg{
   height : 100%;
   width : 100%;
    
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    
}


.cardsTitle{
    font-family : arial;
    color : white;
    text-decoration:none;
    font-size : 90%;
    margin-top : 30px;
    margin-left : 20px;
    height : 30%;
   
}

a{
    text-decoration:none;
}