.cardsContent{
    width : 300px;
    max-height : 300px;
    
    margin: 20px auto;
    background: linear-gradient(rgb(255, 100, 100), rgb(150, 121, 121));
    border-radius : 10px;
}

.cards {
   width :auto;
   height : 70%;
}
.cardsImg{
   height : 100%;
   width : 100%;
    
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    
}


.cardsTitle{
    font-family : arial;
    color : white;
    text-decoration:none;
    font-size : 100%;
    margin-top : 30px;
    margin-left : 20px;
    height : 30%;
   
}

a{
    text-decoration:none;
}


@media all and (max-width: 600px){
    .cardsContent{
        width : 100%;       
        max-height: 600px;
        
    }
    
    .cards {       
       height : 80%;
    }       
    
    .cardsImg{
        max-width : 100%;       
        max-height : 100%;
        height : auto;  
        object-fit: cover;         
     }
    .cardsTitle{        
        font-size : 4vw;
        margin-top : 5%;
    }
    
}
