  .slide {
    width: 87%;   
    height: 400px;
    position: relative;
    margin : 0 6.5%;
    
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    position : absolute;
    object-fit: cover;
    border-radius : 10px
  }
  .btn {
    display : flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    width: 20%;
    top : 0px;
    height : 100%;
    border: none;    
    z-index: 10px;
    cursor: pointer;   
    opacity : 0.5;
    font-size: 5em;     
  }

  .btn:active {
    transform: scale(1);
  }
  
  .btn-prev {
   top : 0;   
   left :0;
  }
  
  .btn-next {    
  right: 0;    
  top : 0
  }

  .btn img{
    width : 60px;
   height : 60px;    
  }

  .arrowNext{
    position: relative;
    right : 10%;   
  }

  .arrowPrev{
    position: relative;
    left : 10%;
  }
  
  .decompteImg {
      position : absolute;
      bottom : 5%;
      font-size : 50px;
      margin : 0 auto;
      left : 50%;
      color : white;
      font-size : 1.2em;
      font-family : "arial";    
      transform: translate(-50%,-50%);
  }